<h1>Welcome to the site</h1>

<h3>Select your option</h3>
<!-- <a href="/login">Login</a> -->
<button onclick="window.location.href='/login'">Login</button>
<br>
<br>
<!-- <a href="/signup">Signup</a> -->
<button onclick="window.location.href='/signup'">Signup</button>