<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/messages.css">
    <script>
        function toggleForm() {
            var form = document.getElementById("postForm");
            form.classList.toggle("visible");
        }
    </script>
</head>

<body>
    <!-- Button to toggle the message form -->
    <button onclick="toggleForm()">Post a Message</button>
    <button class="right" onclick="window.location.href='/signup'">Signup</button>
    <button class="right" onclick="window.location.href='/login'">Login</button>
    <button class="right" onclick="window.location.href='/'">Home</button>

    <!-- Form to post messages -->
    <form id="postForm" action="/postmessage" method="POST" class="form-style">
        <h2>Post a Message:</h2>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>

        <button type="submit" onclick="window.location.href='/login'">Login to post a message</button>
    </form>

    <!-- Display messages when the user is not loggedin-->
    <% if (messages.length> 0) { %>
        <h2 id="allmessage">Messages:</h2>
        <ul>
            <% messages.forEach(message=> { %>
                <li>
                    <div class="message-box">
                        <strong>
                            <%= message.title %>
                        </strong><br>
                        <%= message.text %>
                            <br>
                            <em id="note"><strong>Note: </strong>
                                Become a member to get the sender's name and time</em>
                </li><br>
                <% }); %>
        </ul>
        </div>
        <% } else { %>
            <p>No messages available.</p>
            <% } %>
</body>

</html>