/* Centering the content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 25px;
  background-color: #f0f0f0; /* Change this to your desired background color */
}

/* Form container styles */
form {
  width: 300px;
  padding: 70px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input and label styles */
label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Log In button styles */
button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50; /* Change this to your desired button color */
  color: white;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Change this to your desired button hover color */
}
/* Style for the anchor tag as a button */
a.home-button {
  display: inline-block;
  width: 70px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #4caf50; /* Change to your desired button color */
  color: white;
  margin-left: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a.home-button:hover {
  background-color: #45a049; /* Change to your desired button hover color */
}

/* Error message styles */
p {
  color: red;
  text-align: center;
}
