<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title></title>
</head>

<body>
    <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %>
        </h1>
        <!-- <a href="/logout">LOG OUT</a> -->
        <button onclick="window.location.href='/logout'">LOG OUT</button>
        <% } else { %>
            <h1>please log in</h1>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input name="username" placeholder="username" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <button>Log In</button>
            </form>
            <%}%>
                <% if(errorMessage) { %>
                    <p style="color: red;">
                        <%=errorMessage %>
                    </p>
                    <% } %>
                        <br>
                        <button onclick="window.location.href='/'">Home</button>

</body>

</html>