<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <form action="/login" method="POST">
        <% if (user) { %>
            <script>
                window.location.href = '/loggedin';
            </script>
            <% } else { %>
                <% } %>
                    <% if(errorMessage) { %>
                        <p style="color: red;">
                            <%= errorMessage %>
                        </p>
                        <% } %>
                            <h1>Log In</h1>
                            <label for="username">Username</label>
                            <input name="username" placeholder="Username" type="text" />
                            <label for="password">Password</label>
                            <input name="password" placeholder="Password" type="password" />
                            <div class="button-group">
                                <button>Log In</button>
                                <!-- <button onclick="window.location.href='/'" type="submit">Home</button> -->
                                <a href="/" class="home-button">Home</a>
                                <div>
    </form>
</body>

</html>