<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
    <form action="/signup" method="POST">
        <% if(errorMessage) { %>
            <p style="color: red;">
                <%=errorMessage %>
            </p>
            <% } %>
                <h1>Sign Up</h1>
                <label for="name">Username</label>
                <input name="name" placeholder="Enter Your Username" type="text" />
                <br>
                <label for="email">Email</label>
                <input name="email" placeholder="test@test.com" type="email" />
                <br>
                <label for="password">Enter Password</label>
                <input name="password" placeholder="Password" type="password" />
                <br>
                <label for="confirmPassword">Confirm Password:</label>
                <input name="confirmPassword" placeholder="Password" type="password" required><br>
                <div class="button-group">
                    <button>Sign Up</button>
                    <button onclick="window.location.href='/'">Home</button>
                </div>
    </form>
</body>

</html>